/* Member: Aiqi Xu */
/* global styles */

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: calc(12px + 0.5vh);  /* rem */
}

html,
body {
  max-width: 100vw;
  min-height: 100%;
  color: #2f241f;
  background-color: #fff6e6;
  font-family: "Apple Braille", "Trebuchet MS", Verdana, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
